.header{
    width: 100%;
    height: 3rem;
    background-color: var(--color-headerFooter);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem;
}
.logo{
    width: 2.25rem;
    height: 2.25rem;
    border: 1px solid grey;
}